<!doctype html>

<html ng-app="market">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="icon" href="/front/favicon/index.ico" sizes="any">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.js"></script>
</head>

<body>

<div>
    <div class="container" ng-controller="indexController">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--            <a class="navbar-brand" href="#!/">Главная</a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--&lt;!&ndash;                <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--            </button>-->

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex">
                <ul class="navbar-nav mr-auto" style="flex-direction: row">
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/">Главная</a>
                    </li>
                    &nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href="#!/store">Каталог товаров</a>
                    </li>
                    &nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href="#!/cart">Корзина</a>
                    </li>
                    &nbsp;
                    <li class="nav-item" ng-show="isUserLoggedIn()">
                        <a class="nav-link" href="#!/orders">Мои заказы</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--                    </li>-->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="nav justify-content-end">
                        <li class="nav-item" ng-show="isUserLoggedIn()">
                            <button class="btn btn-outline-secondary my-2 my-sm-0" ng-click="tryToLogout()">Выйти</button>
                        </li>
                        <li class="nav-item" ng-show="!isUserLoggedIn()">
                            <a class="nav-link disabled" href="#!/auth">Авторизоваться</a>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>


        <!--<h3>Добавить продукт</h3>
        <form novalidate ng-submit="updateProduct()">
            <input class="form-control" type="number" placeholder="ID" ng-model="update_product.id">
            <p></p>
            <input class="form-control" type="text" placeholder="Название продукта" ng-model="update_product.title">
            <p></p>
            <input class="form-control" type="number" placeholder="Цена" ng-model="update_product.cost">
            <p></p>
            <button type="submit" class="btn btn-primary">Сохранить продукт</button>
        </form>
        <form>
            <a href="/users/users.html">To users</a>
        </form>-->

        <ng-view></ng-view>

        <script src="index.js"></script>
        <script src="cart/cart.js"></script>
        <script src="orders/orders.js"></script>
        <script src="regform/main.js"></script>
        <script src="store/store.js"></script>
        <script src="welcome/welcome.js"></script>
        <!-- Основное содержимое страницы (кроме футера) -->
        <!-- ... -->
    </div>
</div>

</body>

</html>